<article class="info">
  <h1>Private Info</h1>
  <ul>
  	<p class=username>User Name: {{username}}</p>
  	<p class=firstname>First Name: {{firstname}}</p>
  	<p class=lastname>Last Name: {{lastname}}</p>
  	<p class=profession>Profession: {{profession}}</p>
  	<p class=bio>Bio: {{bio}}</p>
  </ul>
  <form name ="logout" action="/logout" method="GET" id="logout-form" class="new-logout-form">
        
        <button class="button" type="submit">Logout</button>
   </form>
</article>


